@{
    ViewData["Title"] = "Signup Successful";
}

<div class="container text-center mt-5">
    <h2>Signup Successful</h2>
    <p>Your account has been successfully created. You can now log in.</p>
</div>
